{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-logical-assignment-operators",
    "@babel/plugin-proposal-numeric-separator"
  ]
}